<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- TODO #npm-bootstrap: change css location to '/node_modules/bootstrap/dist/css/bootstrap.css' -->
    <!-- TODO #card-component: add link to a new './card/card.component.css' file -->

    <!-- link to game controller -->
    <script src="../scripts/utils.js"></script>
    <script src="../scripts/game.js"></script>
  </head>


<body>

      <!-- TODO #shell: keep this element -->
      <main class="game-cmp">
        <div class="cards"></div>
      </main>

  <script>
    (function () {
      new GameComponent().init();
    })();
  </script>
</body>